<div class="row">
  <div class="col-lg-3 col-md-3">
  </div>
  	<div class="col-lg-6 col-md-6 col-xs-12">
  		<rd-widget>
  			<rd-widget-body>
  				<div class="widget-icon green pull-left">
  					<i class="fa fa-shopping-cart"></i>
  				</div>
  				<div class="title">Cosul tau de cumparaturi este gol!</div>
          <br>
          <a type="button" class="fa fa-home btn btn-primary" href="#/shop" ng-click="expandFilters()">
            Intoarce-te in magazin
          </a>
  				<div class="comment">
          </div>
  			</rd-widget-body>
  		</rd-widget>
  	</div>
    <div class="col-lg-3 col-md-3">
    </div>
</div>
