<div class="row">

    <!-- Produse -->
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon blue pull-left">
                    <i class="fa fa-tags"></i>
                </div>
                <div class="title">Produse</div>
                <div class="comment">
                    <button type="button" class="btn btn-default fa" ng-class="productsExpand" ng-click="collapseProducts()"></button>
                    <button type="button" class="pull-right fa fa-plus btn btn-default" ng-click="openProductModal()"> </button>
                </div>
                <div class="comment">Tipuri diferite de produse: {{tables.produse.length}}</div>
                <div class="comment">In curs de livrare: {{produseInCursDeLivrare}}</div>
            </rd-widget-body>
        </rd-widget>
    </div>


    <!-- Clienti -->

    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon green pull-left">
                    <i class="fa fa-users"></i>
                </div>
                <div class="title">Clienti</div>
                <div class="comment">
                    <button type="button" class="btn btn-default fa" ng-class="clientsExpand" ng-click="collapseClients()"></button>
                    <button type="button" class="pull-right fa fa-plus btn btn-default" ng-click="openUserModal()">  </button>
                </div>
                <div class="comment">Numar total: {{tables.clienti.length}}</div>
                <div class="comment">Cu comenzi neterminate: {{clientiCuComenziNeterminate}}</div>
            </rd-widget-body>
        </rd-widget>
    </div>


    <!-- Comenzi in desfasurare -->

    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon orange pull-left">
                    <i class="fa fa-truck"></i>
                </div>
                <div class="title">Comenzi</div>
                <div class="comment">
                    <button type="button" class="btn btn-default fa" ng-class="ordersExpand" ng-click="collapseOrders()"></button>
                    <a type="button" class="pull-right btn btn-default fa fa-plus" href="#/cart"></a>
                </div>
                <div class="comment"> Numar total: {{tables.comenzi.length}} </div>
                <div class="comment"> In desfasurare: {{comenziInDesfasurare}} </div>
            </rd-widget-body>
        </rd-widget>
    </div>

    <!-- Animale -->
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon red pull-left">
                    <i class="fa fa-sitemap"></i>
                </div>
                <div class="title">Animale</div>
                <div class="comment">
                    <button type="button" class="btn btn-default fa" ng-class="animalsExpand" ng-click="collapseAnimals()"></button>
                </div>
                <br>
                <br>
            </rd-widget-body>
        </rd-widget>
    </div>




</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
    </div>
</div>
<div class="row">

    <!-- Tabel cu produse -->
    <div id="tabelProduse" class="col-lg-6 col-md-12 col-xs-12" uib-collapse="productsAreCollapsed">
        <rd-widget>
            <rd-widget-header icon="fa-tags" title="Produse">
            </rd-widget-header>
            <rd-widget-body classes="large no-padding">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <td>Nume</td>
                            <td>Descriere</td>
                            <td>Specie</td>
                            <td>Talie</td>
                            <td>Varsta</td>
                            <td>Brand</td>
                            <td>Categorie</td>
                            <td>Pret</td>
                            <td>Stoc</td>
                            <td>Gestioneaza</td>
                        </thead>
                        <tbody ng-repeat="produs in tables.produse">
                            <tr>
                                <td>{{produs.Nume}}</td>
                                <td>{{produs.Descriere}}</td>
                                <td>{{produs.Specie}}</td>
                                <td>{{produs.Talie}}</td>
                                <td>{{produs.Varsta}}</td>
                                <td>{{produs.Firma}}</td>
                                <td>{{produs.Categorie}}</td>
                                <td>{{produs.Pret}} RON</td>
                                <td>{{produs.Stoc}}</td>
                                <td>
                                    <button type="button" class="fa fa-pencil btn btn-default" ng-click="openProductModal({produs:produs,index:$index})"></button>
                                    <button class="fa fa-times btn btn-danger" ng-click="removeProduct($index,produs.ProdusID)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
        </rd-widget>
    </div>

    <!-- Tabel cu Clienti -->
    <div id="tabelClienti" class="col-lg-6 col-md-12 col-xs-12" uib-collapse="clientsAreCollapsed">
        <rd-widget>
            <rd-widget-header icon="fa-users" title="Clienti">
            </rd-widget-header>
            <rd-widget-body classes="large no-padding">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <td>Nume</td>
                            <td>Username</td>
                            <td>Email</td>
                            <td>Adresa</td>
                            <td>Oras</td>
                            <td>Judet</td>
                            <td>Gestioneaza</td>
                        </thead>
                        <tbody ng-repeat="client in tables.clienti">
                            <tr>
                                <td>{{client.Nume}}</td>
                                <td>{{client.Utilizator}}</td>
                                <td>{{client.Email}}</td>
                                <td>{{client.Adresa}}</td>
                                <td>{{client.Oras}}</td>
                                <td>{{client.Judet}}</td>
                                <td>
                                    <button type="button" class="fa fa-pencil btn btn-default" ng-click="openUserModal({client: client, index:$index})"></button>
                                    <button class="fa fa-times btn btn-danger" ng-click="removeClient($index,client.ClientID)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
        </rd-widget>
    </div>


    <!-- Tabel cu comenzi in desfasurare -->
    <div id="tabelComenzi" class="col-lg-6 col-md-12 col-xs-12" uib-collapse="ordersAreCollapsed">
        <rd-widget>
            <rd-widget-header icon="fa-truck" title="Comenzi">
            </rd-widget-header>
            <rd-widget-body classes="large no-padding">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <td>Numar comanda</td>
                            <td>Numele destinatarului</td>
                            <td>Adresa</td>
                            <td>Total</td>
                            <td>Stare</td>
                            <td>Schimba status</td>
                        </thead>
                        <tbody ng-repeat="comanda in tables.comenzi">
                            <tr>
                                <td>{{comanda.ComandaID}}</td>
                                <td>{{comanda.Nume}}</td>
                                <td>{{comanda.Adresa}}</td>
                                <td>{{comanda.Total}}</td>
                                <td>{{comanda.Stare}}</td>
                                <td>
                                    <!-- TODO:schimba status in "finalizata", decremeneteaza comenziInDesfasurare, si fa un nou buton cu Sterge, ascunde butoanele Finalizare si Anulare -->
                                    <!-- adauga ng-show pentru a ascunde finalizare/anulare -->
                                    <button class="btn btn-primary">Finalizare</button>
                                    <button class="btn btn-danger" ng-click="cancelOrder(comanda.ComandaID, $index)">Anulare</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
        </rd-widget>
    </div>

    <!-- Tabel cu tipuri animale-->
    <div id="tabelAnimale" class="col-lg-6	 col-md-12 col-xs-12" uib-collapse="animalsAreCollapsed">
        <rd-widget>
            <rd-widget-header icon="fa-sitemap" title="Animale">

            </rd-widget-header>
            <rd-widget-body classes="large no-padding">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <td>Nume</td>
                            <td>Talie</td>
                            <td>Varsta</td>
                            <td>Produse atribuite</td>
                        </thead>
                        <tbody ng-repeat="animal in tables.animale">
                            <tr>
                                <td>{{animal.Nume }}</td>
                                <td>{{animal.Talie}}</td>
                                <td>{{animal.Varsta}}</td>
                                <td>{{animal.NrProduse}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
